
table td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    padding: 1rem;
    text-align: center;
    width: 200px;
    word-wrap: break-word;
}
table{
    border-collapse: collapse;
    width: 100%;
}
thead td{
    background-color: rgb(192, 189, 189);
    font-weight: bold;
    width: 200px;
}
#ajoutseance, #closeAjoutSeance, #supprimerseance, #closeSupprimerSeance{
    display: none;
}
fieldset{
    width: 100%;
}
.action_button{
    display: inline;
}